<li>
	{{!-- {{id}} --}}
	{{burger_name}}

	<button class="btn btn-dark change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}DEVOUR IT!{{/if}}
	</button>
	<button class="btn btn-outline-dark delete-burger" data-id="{{this.id}}">DELETE</button>
</li>
